.col{
	max-width: 24%;

}

.semiCircleMastery{
	width: 30%;
	display: inline-block;
}

#masteryTitle{
	margin-top: 15px;

}

#submitButton{
	position: absolute;
	margin-left: 110%;
}

.centerLinesLeft p{
	color: white;
	margin-left: 25%;
	float: left;
	margin-bottom: 0px;
}

.centerLinesRight p{
	color: white;
	margin-right: 25%;
	float: right;
	margin-bottom: 0px;
}

.centerLinesRight{
	z-index: 2;

}

.centerLinesLeft{
	z-index: 2;

}

.centerLines div{
	margin-right: 25%;
	margin-left: 25%;
	height: 8px;
	position: relative;
	margin-bottom: 105px;
}


.topBar{
	margin-left:5%;
	margin-top: 20px;
}

.input-group.mb-3{
	width: 300px;
}


body {
	font-family: Arial;
	color: white;
	background-color: #25154d;
	width: 99%;
}

.split {
	height: 92%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.left {
	left: 0;
	background-color: #111;
	position: absolute;
	margin-top: 75px;
}

.right {
	right: 0;
	background-color: #a20000;
	position: absolute;
	margin-top: 75px;

}

.centered {
	position: relative;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
}

.centered img {
	width: 100px;
	border-radius: 50%;
}
