<!DOCTYPE html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/home-style.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
		<title>Home</title>
		<div class="navbar">
			<a class="active" href="">Home</a>
		</div>
	</head>

	<body onload=loadPage()>
		<div class="split left">
			<div class="topBar">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-default">Summoner</span>
					</div>
					<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
					<button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>

			<div class="centered">
				<img src="http://ddragon.leagueoflegends.com/cdn/9.6.1/img/profileicon/{{summoner1.icon}}.png" alt="Summoner_2_Icon">
				<h2>{{summoner1.name}}</h2>
				<p>{{summoner1.rank.tier}} {{summoner1.rank.rank}} - {{summoner1.rank.leaguePoints}} LP</p>
			</div>
			<div class="centerLines centerLinesLeft">
				<p>Win Rate</p>
				<div id="summoner1Win"></div>

				<p>Loss Rate</p>
				<div id="summoner1Loss"></div>
			</div>

		</div>

		<div class="split right">
			<div class="topBar">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-default">Summoner</span>
					</div>
					<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
				</div>
			</div>

			<div class="centered">
				<img src="http://ddragon.leagueoflegends.com/cdn/9.6.1/img/profileicon/{{summoner2.icon}}.png" alt="Summoner_2_Icon">
				<h2>{{summoner2.name}}</h2>
				<p>{{summoner2.rank.tier}} {{summoner2.rank.rank}} - {{summoner2.rank.leaguePoints}} LP</p>
			</div>
			<div class="centerLines centerLinesRight">
				<p>Win Rate</p>
				<div id="summoner2Win"></div>

				<p>Loss Rate</p>
				<div id="summoner2Loss"></div>
			</div>

		</div>

		<script src="/static/js/progressbar.js"></script>
		<script src="/static/js/require.js">
			alert('a');
			var ProgressBar = require(['/static/js/progressbar.js'], function(){
			});

		</script>

		<script>
			function makeBar(containerName, transformPer, percentage, whichSide){
				var bar = new ProgressBar.Line(containerName, {
					strokeWidth: 4,
					easing: 'easeInOut',
					duration: 1400,
					color: '#FFEA82',
					trailColor: '#eee',
					trailWidth: 1,
					svgStyle: { width: '100%', height: '100%', transform: transformPer},
					text: {
						style: {
							color: '#FFFFFF',
							position: 'absolute',
							whichSide: '90%',
							padding: 0,
							margin: 0,
							transform: null
						},
						autoStyleContainer: false
					},
					from: {color: '#FFEA82'},
					to: {color: '#ED6A5A'},
					step: (state, bar) => {
						bar.setText(Math.round(bar.value() * 100) + ' %');
					}
				}); bar.animate(percentage);  // Number from 0.0 to 1.0
			}
                        makeBar(summoner1Win, "scale(-1, 1)", .46, 'left')
                        makeBar(summoner1Loss, "scale(-1, 1)", .54, 'left')
                        makeBar(summoner2Win, "scale(1, 1)", .47, 'right')
                        makeBar(summoner2Loss, "scale(1, 1)", .68, 'right')
		</script>
	</body>

</html>
