<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Reminder App</title>
  <div class="navbar">
    <a class="active" href="">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>
</head>

<body onload=loadPage()>
  <div class="full">
    <div class="container head">
      <p>Welcome, please click the button below to start a game!</p>
    </div>
  </div>

    <div class="container eventLog">
      <p><b>Event Log</b></p>
      <hr>
      <p>Tournament Id = {{tourn_id}}</p>
      {% for event in eventList %}
        {% if event['eventType'] == 'PracticeGameCreatedEvent' %}
	<p> Game has been Created </p>

        {% elif event['eventType'] == 'PlayerJoinedGameEvent' %}
	<p> Player has joined: {{ event['summoner'].name }} </p>

        {% elif event['eventType'] == 'PlayerSwitchedTeamEvent' %}
	<p> Player has swapped Team: {{ event['summoner'].name }} </p>

        {% elif event['eventType'] == 'PlayerQuitGameEvent' %}
	<p> Player has left: {{event['summoner'].name }} </p>
	{% endif %}
      {% endfor %}
    </div>

  <div class="container cont outer">
    <!--<div class="container cont">
      <select type="text" id="dropDown" onchange="changeSelect()">
	<option value="1">Tourney</option>
	<option value="2">Misc</option>
      </select>
    </div>--!>
    <div class="container cont inner">
      <div class="container button">
	<form id="getTournForm" action="/refresh_tourney/" method="get">
	    <button type="submit">Get Tourney</button>
	</form>
	<form id="refreshForm" action="/refresh_tourney/" method="get">
	    <button type="submit">Refresh</button>
	</form>
      </div>

      <p id="tournId">Tournament Id = {{tourn_id}}</p>

      <table>
	<tr>
	  <th>Blue Team</th>
	</tr>
	<tr>
	  <th>Summoner Name</th>
	  <th>Level</th>
	  <th>Rank</th>
	  <th>Main Role</th>
	</tr>

	<tr id="row">
	{% for summoner in blueTeam %}
	<tr>
	  <td>{{summoner.name}}</td>
	  <td>{{summoner.level}}</td>
	  {% if summoner.rank != None %}
	  <td>{{summoner.rank[0].tier}} {{summoner.rank[0].rank}}</td>
	  <td>{{summoner.rank[0].position}}</td>
	  {% else %}
	  <td>Unranked</td>
	  <td>N/A</td>
	  {% endif %}
	</tr>
	{% endfor %}
	</tr>

	<tr>
	  <th>Red Team</th>
	</tr>

	<tr id="row">
	{% for summoner in redTeam %}
          <tr>
	    <td>{{summoner.name}}</td>
	    <td>{{summoner.level}}</td>
	    {% if summoner.rank != None %}
	    <td>{{summoner.rank[0].tier}} {{summoner.rank[0].rank}}</td>
	    <td>{{summoner.rank[0].position}}</td>
	    {% else %}
	    <td>Unranked</td>
	    <td>N/A</td>
	    {% endif %}
	  </tr>
	{% endfor %}
	</tr>

      </table>

    </div>
  </div>

  <button id="bt">Modal</button>

  <div id="myModal" class="modal">
      <div class="modal-content">
	<span class="close">&times;</span>
      <p>Some text in the Modal..</p>
    </div>
  </div>

  <script>
    //Use this for settings changes
    var modal = document.getElementById('myModal');
    var btn = document.getElementById('bt');
    var span = document.getElementsByClassName('close')[0];
    
    btn.onclick = function(){
      modal.style.display = "block";
    }

    span.onclick = function(){
      modal.style.display = "none";
    }
    
  </script>

</body>

</html>
