<!DOCTYPE html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
		<title>Tyler vs Moe</title>
		<div class="navbar">
			<a class="active" href="">Home</a>
		</div>
	</head>

	<body onload=loadPage()>
		<div class="full">
			<div class="container head">
				<p>Tyler1 vs Moe</p>
			</div>
		</div>

		<div class="container cont outer">
			<div class="container cont inner">
				<p id="tournId">Currently Ahead: MOE</p>

				<table>
					<tr>
						<th id="moe-header1">Streamer</th>
						<th id="moe-header2">Summoner Name</th>
						<th id="moe-header3">Level</th>
						<th id="moe-header4">Rank</th>
						<th id="moe-header5">LP</th>
						<th id="moe-header6">Wins</th>
						<th id="moe-header7">Losses</th>
					</tr>


					<tr id="row">
						<tr>
							<td style="background-color: gray"><b>Tyler</b></td>
							<td>{{t1.name}}</td>
							<td>{{t1.level}}</td>
							{% if t1.rank != None %}
							<td>{{t1.rank.tier}} {{t1.rank.rank}}</td>
							<td>{{t1.rank.leaguePoints}}</td>
							<td>{{t1.rank.wins}}</td>
							<td>{{t1.rank.losses}}</td>

							{% else %}
							<td>Unranked</td>
							<td>N/A</td>
							{% endif %}
						</tr>
					</tr>
				</table>
				<table>
					<tr>
						<th id="moe-header1">Streamer</th>
						<th id="moe-header2">Summoner Name</th>
						<th id="moe-header3">Level</th>
						<th id="moe-header4">Rank</th>
						<th id="moe-header5">LP</th>
						<th id="moe-header6">Wins</th>
						<th id="moe-header7">Losses</th>
					</tr>


					<tr id="row">
						<tr>
							<td style="background-color: gray"><b>Moe</b></td>
							<td>{{moe.name}}</td>
							<td>{{moe.level}}</td>
							{% if moe.rank != None %}
							<td>{{moe.rank.tier}} {{moe.rank.rank}}</td>
							<td>{{moe.rank.leaguePoints}}</td>
							<td>{{moe.rank.wins}}</td>
							<td>{{moe.rank.losses}}</td>
							{% else %}
							<td>Unranked</td>
							<td>N/A</td>
							{% endif %}
						</tr>
					</tr>

				</table>

			</div>
		</div>

		<div id="containerPercentage"></div>


		<div id="myModal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<p>Some text in the Modal..</p>
			</div>
		</div>

		<script src="/static/css/progressbar.min.js">
			var bar = new ProgressBar.SemiCircle(containerPercentage, {
				strokeWidth: 6,
				color: '#FFEA82',
				trailColor: '#eee',
				trailWidth: 1,
				easing: 'easeInOut',
				duration: 1400,
				svgStyle: null,
				text: {
					value: '',
					alignToBottom: false
				},
				from: {color: '#FFEA82'},
				to: {color: '#ED6A5A'},
				// Set default step function for all animate calls
				step: (state, bar) => {
					bar.path.setAttribute('stroke', state.color);
					var value = Math.round(bar.value() * 100);
					if (value === 0) {
						bar.setText('');
					} else {
						bar.setText(value);
					}

					bar.text.style.color = state.color;
				}
			});
			bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
			bar.text.style.fontSize = '2rem';

			bar.animate(0.5);  // Number from 0.0 to 1.0
		</script>

	</body>

</html>
